.page-container {
  width: 100%;
  height: 100%;
  background-color: #2b303a;

  /* flex-direction: column; */
}

.array-container {
  background-color: #353a44;
  width: 80%;
  height: 70%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  grid-row: 2;

  /* margin: auto auto; */
  /* top: 50%; */
}

.array-bar {
  width: 2px;
  background-color: rgb(137, 197, 137);
  display: inline-block;
  position: relative;
  bottom: 0;
  margin: 0 1px;
}

.button-container {
  display: flex;
  grid-row: 3;
}
